<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restora</title>
</head>
<body>
    <h2>All Listings</h2>
    <form method=" get" action="/listings/new">
        <button>Create new Listings</button>
    </form>
    <uL>
        <% for(let listing of allListings) { %>
            <li><a href= "/listings/<%= listing._id %>"> <%= listing.title %></a></li>


            <li>
                <h3><%= listing.name %></h3>
                <p>Rating: <%= listing.rating %></p>
                <p>Price: $<%= listing.price %></p>
                <p>Description: <%= listing.description %></p>
            </li>
        <% } %>
    </uL>
</body>
</html>    